<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Bienvenue sur Food Diary{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ asset('css/1-col-portfolio.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% if app.user %} {{ path('diary') }}{% else %}{{ path('homepage') }}{% endif %}">Food diary</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if app.user %}
                <li>
                    <a href="{{ path('add-new-record') }}">Ajouter un nouveau rapport</a>
                </li>
                <li>
                    <a href="{{ path('diary') }}">Voir tous mes rapports</a>
                </li>
                <li>{{ app.user.fullname }}</li>
                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">

    {{ render(controller('AppBundle:Diary:caloriesStatus')) }}

    <div class="clearfix"></div>

    {% if app.user %}
        <a href="{{ path('logout') }}" type="button" class="btn btn-danger btn-lg pull-right"><i class="fa fa-sign-out"></i> Se déconnecter</a>
    {% else %}
        <a href="https://github.com/login/oauth/authorize?client_id={{ github_client_id }}&redirect_uri={{ url('github_redirect_url') }}" type="button" class="btn btn-info btn-lg pull-right"><i class="fa fa-github"></i> Se connecter avec Github</a>
    {% endif %}


    {% for type, flash_messages in app.session.flashBag.all %}
        {% for flash_message in flash_messages %}
            <div class="alert alert-{{ type }}" role="alert">
                {{ flash_message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% block heading %}
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Tous les rapports
                    <small>Tout ce qui a été mangé !</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->
    {% endblock %}

    {% block body %}{% endblock %}

    <!--
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">&laquo;</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
    <hr>
    -->
    <!-- /.row -->



    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Food Diary {{ "now"|date("Y") }}</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="{{ asset('js/jquery.js') }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ asset('js/bootstrap.min.js') }}"></script>

</body>

</html>
